In [174]:
import pandas as pd

# import data from Excel
data = pd.read_excel("C:\\Users\\Tim\Desktop\\Data Science\\Scriptie\\Tetris data\\dataset_for_data_mining.xlsx")

# print the data
print(data.head())

   Unnamed: 0          ID  Age     Sex  Tetris experience  \
0           0  A112930031   52    Male                  3
1           1  A103030031   19    Male                  1
2           2  B103030032   19  Female                  1
3           3  A113030031   25    Male                  1
4           4  A133030031   23    Male                  2

   Videogames hours a week Tetris hours a week  \
0                        2                   0
1                        4                   0
2                        0                   0
3                        1                   0
4                        0                   0

   Subjective duration estimation  Game events sum  Mistake likelyhood  ...  \
0                             2.0               11                   4  ...
1                             0.9               11                   4  ...
2                             6.8               15                   4  ...
3                             2.0               13                   4  ...
4                             4.0               15                   4  ...

   Total left/right per minute  sum across game  Average score  std avg score  \
0                    42.538462             4151    2075.500000    1237.500000
1                    33.000000             6899    2299.666667    2669.444678
2                    82.307692             1135     283.750000     105.684377
3                    46.000000             4608    2304.000000    2145.000000
4                    59.000000             1841     368.200000     336.627628

   Max score  Min score  Min level  Max level  Average level  Matches played
0       3313        838          1          3            2.0               2
1       6066        193          0          2            1.0               3
2        438        180          0          0            0.0               4
3       4449        159          0          3            1.5               2
4        969         79          0          1            0.2               5

[5 rows x 34 columns]

In [175]:
# Function to modify column names
def format_column_name(column_name):
    return column_name.lower().replace(" ", "_").replace("/", "_")

# Adjust the column names
data.columns = [format_column_name(col) for col in data.columns]

# Display the updated columns
print(data.columns)

Index(['unnamed:_0', 'id', 'age', 'sex', 'tetris_experience',
       'videogames_hours_a_week', 'tetris_hours_a_week',
       'subjective_duration_estimation', 'game_events_sum',
       'mistake_likelyhood', 'mistake_correction_skills', 'use_of_next_info',
       'flow_score', 'total_keystrokes', 'keystroke_per_minute', 'total_down',
       'total_left', 'total_right', 'total_left_right',
       'total_clockwise_rotations', 'total_conterclockwise_rotations',
       'total_rotations', 'total_rotations_x_minute',
       'abs_diff_clockwise_conterclockwise', 'total_left_right_per_minute',
       'sum_across_game', 'average_score', 'std_avg_score', 'max_score',
       'min_score', 'min_level', 'max_level', 'average_level',
       'matches_played'],
      dtype='object')

In [176]:
# calculate median of Tetris experience column
median_experience = data["tetris_experience"].median()

# create a new column called "Experience level_binary" and set it to "Low" for values less than or equal to median, and "High" for values greater than median
data["tetris_experience_binary"] = [0 if x <= median_experience else 1 for x in data["tetris_experience"]]

# print the updated data
print(data["tetris_experience_binary"])

0     1
1     0
2     0
3     0
4     0
     ..
75    0
76    1
77    0
78    1
79    1
Name: tetris_experience_binary, Length: 80, dtype: int64

In [177]:
# calculate median of 'Videogames Hours a Week' column
median_experience = data["videogames_hours_a_week"].median()

# create a new column called "videogames_hours_a_week_binary" and set it to 0 for values less than or equal to median, and 1 for values greater than median
data["videogames_hours_a_week_binary"] = [0 if x <= median_experience else 1 for x in data["videogames_hours_a_week"]]

# print the updated data
print(data["tetris_experience_binary"])

0     1
1     0
2     0
3     0
4     0
     ..
75    0
76    1
77    0
78    1
79    1
Name: tetris_experience_binary, Length: 80, dtype: int64

In [178]:
# create a new column called "Tetris hours a week_binary" and set it to 0 for values that are zero, and 1 for values greater than zero.
data["tetris_hours_a_week_binary"] = [0 if x == 0 else 1 for x in data["tetris_hours_a_week"]]

# print the updated data
print(data["tetris_hours_a_week_binary"])

0     0
1     0
2     0
3     0
4     0
     ..
75    0
76    0
77    0
78    0
79    0
Name: tetris_hours_a_week_binary, Length: 80, dtype: int64

In [179]:
# Remove rows where the 'sex' column has a value other than 'Male' or 'Female'
data = data[data['sex'].isin(['Male', 'Female'])]

# Create a new binary column 'is_male' where 'Male' is 1 and 'Female' is 0
data['sex_num'] = data['sex'].map({'Male': 1, 'Female': 0})

In [180]:
# calculate median of 'Age' column
median_experience = data["age"].median()

# create a new column called "age_binary" and set it to 0 for values less than or equal to median, and 1 for values greater than median
data["age_binary"] = [0 if x <= median_experience else 1 for x in data["age"]]

# print the updated data
print(data["age_binary"])

0     1
1     0
2     0
3     1
4     1
     ..
75    0
76    0
77    0
78    1
79    1
Name: age_binary, Length: 79, dtype: int64

In [181]:
from sklearn.cluster import KMeans

# K-means clustering of 'age'.
ages = data["age"].values.reshape(-1, 1)

# Choose the number of clusters
n_clusters = 2

# Perform k-means clustering
kmeans = KMeans(n_clusters=n_clusters, random_state=0).fit(ages)

# Get the cluster assignments for each age
cluster_assignments1 = kmeans.labels_

data['age_cluster'] = cluster_assignments1

In [182]:
# K-means clustering of 'videogames_hours_a_week'.
ages = data['videogames_hours_a_week'].values.reshape(-1, 1)

# Choose the number of clusters
n_clusters = 2

# Perform k-means clustering
kmeans = KMeans(n_clusters=n_clusters, random_state=0).fit(ages)

# Get the cluster assignments for each age
cluster_assignments = kmeans.labels_

data['videogames_hours_a_week_cluster'] = cluster_assignments

In [183]:
# Create 'total_keystrokes_averagepergame' column to divide the total number of keystrokes by the number of matched played.
data["total_keystrokes_averagepergame"] = data["total_keystrokes"] / data["matches_played"]

# Create 'total_down_averagepergame' column to divide the total down by the number of matched played.
data["total_down_averagepergame"] = data["total_down"] / data["matches_played"]

# Create 'total_left_averagepergame' column to divide the total left by the number of matched played.
data["total_left_averagepergame"] = data["total_left"] / data["matches_played"]

# Create 'total_right_averagepergame' column to divide the total right by the number of matched played.
data["total_right_averagepergame"] = data["total_right"] / data["matches_played"]

# Create 'total_left_right_averagepergame' column to divide the total left_right by the number of matched played.
data["total_left_right_averagepergame"] = data["total_left_right"] / data["matches_played"]

# Create 'total_clockwise_rotations_averagepergame' column to divide the total clockwise rotations by the number of matched played.
data["total_clockwise_rotations_averagepergame"] = data["total_clockwise_rotations"] / data["matches_played"]

# Create 'total_conterclockwise_rotations_averagepergame' column to divide the total conter clockwise rotations by the number of matched played.
data["total_conterclockwise_rotations_averagepergame"] = data["total_conterclockwise_rotations"] / data["matches_played"]

# Create 'total_rotations_averagepergame' column to divide the total rotations by the number of matched played.
data["total_rotations_averagepergame"] = data["total_rotations"] / data["matches_played"]

# Display the new columns
print(data.columns)

# save the dataframe as an Excel file
data.to_excel('output_preprocessed_data.xlsx', index=False)

Index(['unnamed:_0', 'id', 'age', 'sex', 'tetris_experience',
       'videogames_hours_a_week', 'tetris_hours_a_week',
       'subjective_duration_estimation', 'game_events_sum',
       'mistake_likelyhood', 'mistake_correction_skills', 'use_of_next_info',
       'flow_score', 'total_keystrokes', 'keystroke_per_minute', 'total_down',
       'total_left', 'total_right', 'total_left_right',
       'total_clockwise_rotations', 'total_conterclockwise_rotations',
       'total_rotations', 'total_rotations_x_minute',
       'abs_diff_clockwise_conterclockwise', 'total_left_right_per_minute',
       'sum_across_game', 'average_score', 'std_avg_score', 'max_score',
       'min_score', 'min_level', 'max_level', 'average_level',
       'matches_played', 'tetris_experience_binary',
       'videogames_hours_a_week_binary', 'tetris_hours_a_week_binary',
       'sex_num', 'age_binary', 'age_cluster',
       'videogames_hours_a_week_cluster', 'total_keystrokes_averagepergame',
       'total_down_averagepergame', 'total_left_averagepergame',
       'total_right_averagepergame', 'total_left_right_averagepergame',
       'total_clockwise_rotations_averagepergame',
       'total_conterclockwise_rotations_averagepergame',
       'total_rotations_averagepergame'],
      dtype='object')